radvd:
  interfaces:
    eth21:
      comment: Outside
      prefix:
        2001:db8:987::1/64:

    eth32:
      AdvManagedFlag: true

      prefix:
        2001:db8:123::1/64:
          AdvOnLink: false
        2001:db8:abc::1/64:

      clients:
        - 2001:db8:123::10
        - 2001:db8:abc::ffff

      route:
        2001:db8:cde::1/64:
          AdvRouteLifetime: infinity
          RemoveRoute: false

      RDNSS:
        2001:db8:ffff::1 2001:db8:ffff::2 2001:db8:ffff::3:
          FlushRDNSS: false

      DNSSL:
        example.com example.org:
          AdvDNSSLLifetime: 16000
        example.net:

{% if grains['os_family'] != 'RedHat' %}
     # Requires recent radvd daemon (not present on RedHat)
      abro:
        2001:0db8:85a3::/48:
          AdvValidLifeTime: 0
{% endif %}
